body{
    background-color: rgb(251, 251, 251);
    text-align: center;
}

div{
    padding: 30px 30px;
    border-style: solid;
    border-width: 0px 2px 2px 2px;
    border-radius: 5px;
}

#arquivo{
    border-top: 2px solid black;
}

h3{
    margin-top: 0px;
}

ul{
    display: inline-flex;
    list-style: none;
}

li{
    padding: 8px;
    border: 2px solid rgb(42, 50, 55);
    border-radius: 1.5px;
    background-color: rgb(246, 248, 250);
}

.mostra{
    display: none;
}

.destacaCelula{
    background-color: rgb(125, 220, 174);
}